venv/
.env
.aider*
*.json
retrochat.spec
build/retrochat/Analysis-00.toc
build/retrochat/base_library.zip
build/retrochat/EXE-00.toc
build/retrochat/*.ico
build/retrochat/PKG-00.toc
build/retrochat/PYZ-00.pyz
build/retrochat/PYZ-00.toc
build/retrochat/retrochat.pkg
build/retrochat/warn-retrochat.txt
build/retrochat/xref-retrochat.html
build/retrochat/localpycs/pyimod01_archive.pyc
build/retrochat/localpycs/pyimod02_importers.pyc
build/retrochat/localpycs/pyimod03_ctypes.pyc
build/retrochat/localpycs/pyimod04_pywin32.pyc
build/retrochat/localpycs/struct.pyc
chat_history.json
config.json
build/retrochat/COLLECT-00.toc
build/retrochat/retrochat.exe
